## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [89]:
var = 5
print (var);

5

2) Imprimir el tipo de dato de la constante 8.5

In [90]:
type(9.453455)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [91]:
type (var)

int

4) Crear una variable que contenga tu nombre

In [92]:
nom='Juan Manuel Aristizabal'
print(nom)

Juan Manuel Aristizabal

5) Crear una variable que contenga un número complejo

In [93]:
num_com=4j
print(num_com)

4j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [94]:
type(num_com)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [95]:
pi=3.1436

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [96]:
var_1='True'
var_2=True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [97]:
print ('La variable 1 es de tipo', type(var_1), 'y la variable 2 es de tipo', type(var_2));

La variable 1 es de tipo <class 'str'> y la variable 2 es de tipo <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [98]:
a=5.2+4
print(a)

9.2

11) Realizar una operación de suma de números complejos

In [99]:
vars =4+4j
c=5+3j
d=b+c
print(d)

(9+7j)

12) Realizar una operación de suma de un número real y otro complejo

In [100]:
e=c+4.23+5j
print(e)

(9.23+8j)

13) Realizar una operación de multiplicación

In [101]:
2*3

6

14) Mostrar el resultado de elevar 2 a la octava potencia

In [102]:
2**8

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [103]:
g=27/4
print(g)

6.75

16) De la división anterior solamente mostrar la parte entera

In [104]:
print(27//4)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [105]:
27%4

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [106]:
6*(4+3)

42

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [107]:
var1='La'
var2=' Dorada'
print(var1+var2)

La Dorada

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [108]:
2=='2'

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [109]:
2==int('2')

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [110]:
'Porque tiene unas comillas que lo convierten a string'

'Porque tiene unas comillas que lo convierten a string'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [115]:
variable_1=3
variable_1-=1
print(variable_1)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [112]:
2<<1

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [113]:

'2'+str ('2')

'22'

26) Realizar una operación válida entre valores de tipo entero y string

In [117]:
var_1 = 'este texto se repite '
var_2 = 3
print(var_1 * var_2 + str(var_2), 'veces')

este texto se repite este texto se repite este texto se repite 3 veces